<div class="event-details">
    <div class="event-header">
        <h3 id="fechaEvento">{{date}}</h3>
        <h2>{{eventName}}</h2>
        <sub>Aportado por nuestro usuario:
            <i>{{aportedBy.username}}</i>
        </sub>
    </div>
    <div class="event-info">
        <div class="left-info">
            <img src={{photoURL}} alt="event_picture" height="300px" width="600px">
            <h3>Detalles del evento</h3>
            <p id="event-description">
                {{description}}
            </p>
        </div>
        <div class="div-location">
            <div id="event-text">
                <div>
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div>
                    <h3> {{location.address}}</h3>
                    <p>{{cost}}</p>
                    <p>{{recomendedAge}}</p>
                </div>
            </div>
            <div id="mapita"></div>
        </div>
    </div>    
</div>

            {{!-- <p>{{cost}}</p>
            <p>{{recomendedAge}}</p>
            <p>{{location.address}}</p>
            <p>
                <i>
                    <sub>el dia :
                        <span id="formatedHour">{{created_at}}</span>
                    </sub>
                </i>
            </p> --}}
{{!-- cambiar la hora --}}
<script>
    var oldHour = document.getElementById("formatedHour")
    var options = { weekday: "long", year: "numeric", month: "long", day: "numeric", hour: "numeric", minute: "numeric", hour12: "false" };
    var myDate = new Date(oldHour.innerHTML);
    var newDate = myDate.toLocaleString("es-ES", options)
    oldHour.innerHTML = newDate

    var eventHour = document.getElementById("fechaEvento")
    var myEventDate = new Date(eventHour.innerHTML);
    var newEventDate = myEventDate.toLocaleString("es-ES", options)
    eventHour.innerHTML = newEventDate;


</script> {{!-- ingresar maps y marker --}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzYCmApB3ysZNFYoP4TbhfHdNIhOroJtc&libraries=places"></script>
<script>
    let center = {
        lat: {{ location.coordinates.[1]}},
        lng: {{ location.coordinates.[0]}}
    };
    let title = '{{eventName}}'

    const map = new google.maps.Map(
        document.getElementById('mapita'),
        {
            center,
            zoom: 15
        }
    )
    const marker = new google.maps.Marker({
        map,
        position: center,
        title,
        animation: google.maps.Animation.BOUNCE
    })

</script>