<h1>Eventos</h1>
<section>
    <div>
        {{#each event}}
        <a href="/events/{{this._id}}">
            <p>Nombre: {{this.eventName}},
                <br> Fecha:
                <i>
                    <span class="formatedHour" id="formatedHour">
                        {{this.date.[8]}} {{this.date.[9]}} {{this.date.[7]}} {{this.date.[5]}} {{this.date.[6]}} {{this.date.[4]}} {{this.date.[0]}}
                        {{this.date.[1]}} {{this.date.[2]}} {{this.date.[3]}} a las {{this.date.[11]}} {{this.date.[12]}}
                        {{this.date.[13]}} {{this.date.[14]}} {{this.date.[15]}} {{this.date.[16]}} {{this.date.[17]}} {{this.date.[18]}}
                        {{this.date.[19]}}
                    </span>
                </i>
            </p>
        </a>

        {{/each}}
    </div>
</section>