<h1>Eventos</h1>
<section>
<div>
    {{#each event}}
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">{{this.eventName}}</p></a>
                <p id="formatedHour" class="card-header-time">{{this.date}}</p>
            </header>
            <div class="card-content">
                <div class="card-description"><br><br>{{event.description}}</div>
            </div>
            <footer class="card-footer">
                <p class="card-header-org">Organizado por {{event.organizedBy}}</p>
                <a href="/events/{{this._id}}" class="card-footer-item"><br>Ver evento</a>
            </footer>
        </div>
    {{/each}}
</div>
</section>

{{!-- cambiar la hora --}}  
<script>
    var oldHour = document.getElementById("formatedHour")
    var options = { weekday: "long", year: "numeric", month: "long", day: "numeric", hour: "numeric", minute: "numeric", hour12: "false" };
    var myDate = new Date(oldHour.innerHTML);
    var newDate = myDate.toLocaleString("es-ES", options)
    oldHour.innerHTML = newDate
</script>