<div class="event-details">
    <div class="event-header">
        <h3 id="fechaEvento">
            <span id="formatedHour">{{event.date}}</span>
        </h3>
        <h2>{{event.eventName}}</h2>
        <sub>Aportado por nuestro usuario:
            <i>{{user.username}}</i>
        </sub>
    </div>
    <div class="event-info">
        <div class="left-info">
            <img src={{event.photoURL}} alt="event_picture" height="300px" width="600px">
            <h3>Detalles del evento</h3>
            <p id="event-description">
                {{event.description}}
            </p>
        </div>
        <div class="div-location">
            <div id="event-text">
                <h3>
                    <i class="fas fa-map-marker-alt"></i> {{event.location.address}}</h3>
                <p>{{event.cost}}</p>
                <p>{{event.recomendedAge}}</p>
            </div>
            <div id="mapita"></div>
        </div>
    </div>
</div>

{{!--
<p>{{cost}}</p>
<p>{{recomendedAge}}</p>
<p>{{location.address}}</p>
<p>
    <i>
        <sub>el dia :
            <span id="formatedHour">{{created_at}}</span>
        </sub>
    </i>
</p> --}} {{!-- cambiar la hora --}}
<script>
    var oldHour = document.getElementById("formatedHour")
    var options = { weekday: "long", year: "numeric", month: "long", day: "numeric", hour: "numeric", minute: "numeric", hour12: "false" };
    var myDate = new Date(oldHour.innerHTML);
    var newDate = myDate.toLocaleString("es-ES", options)
    oldHour.innerHTML = newDate


</script> {{!-- ingresar maps y marker --}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzYCmApB3ysZNFYoP4TbhfHdNIhOroJtc&libraries=places"></script>
<script>
    let center = {
        lat: {{ event.location.coordinates.[1]}},
        lng: {{ event.location.coordinates.[0]}}
    };
    let title = '{{event.eventName}}'

    const map = new google.maps.Map(
        document.getElementById('mapita'),
        {
            center,
            zoom: 15
        }
    )
    var icono = {
        url: "https://cdn2.iconfinder.com/data/icons/map-pins-1-01-easylines/128/yumminky-pin-78-512.png",
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(35, 35)

    }
    const marker = new google.maps.Marker({
        map,
        icon: icono,
        position: center,
        title,
        animation: google.maps.Animation.BOUNCE
    })

</script>