<h2>Detalle del lugar</h2>

<img src={{photoURL}} alt="Foto del lugar Aqui" height="150px" width="300px" />
<h1>{{placeName}}</h1>
<p>{{cost}}</p>
<p>{{recomendedAge}}</p>
<p>{{location.address}}</p>
<p>
    <sub>Aportado por nuestro usuario:
        <i>{{aportedBy.username}}</i>
    </sub>
</p>
<p>
    <i>
        <sub>el dia :
            <span id="formatedHour">{{created_at}}</span>
        </sub>
    </i>
</p>
<div id="mapita" heigth="100%" width="50vh"></div>

{{!-- cambiar la hora --}}
<script>
    var oldHour = document.getElementById("formatedHour")
    var options = { weekday: "long", year: "numeric", month: "long", day: "numeric", hour: "numeric", minute: "numeric", hour12: "false" };
    var myDate = new Date(oldHour.innerHTML);
    var newDate = myDate.toLocaleString("es-ES", options)
    oldHour.innerHTML = newDate


</script>
 {{!-- ingresar maps y marker --}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzYCmApB3ysZNFYoP4TbhfHdNIhOroJtc&libraries=places"></script>
<script>
    let center = {
        lat: {{ location.coordinates.[1]}},
        lng: {{ location.coordinates.[0]}}
    };
    let title = '{{placeName}}'

    const map = new google.maps.Map(
        document.getElementById('mapita'),
        {
            center,
            zoom: 16
        }
    )
    const marker = new google.maps.Marker({
        map,
        position: center,
        title,
        animation: google.maps.Animation.BOUNCE
    })

</script>