<div class="event-details">
    <div class="event-header">
        {{!--
        <h3 id="fechaEvento">
            <span id="formatedHour">{{place.date}}</span>
        </h3> --}}
        <h2>{{place.placeName}}</h2>

    </div>
                        {{#if user}}

<sub>Aportado por ti:
    <i>{{user.username}}</i>
    lo quieres

<a id="borrar" onclick="return confirm('Estás seguro que deseas eliminar el Lugar?');" href="/removepl/{{place._id}}">borrar?</a>
</sub>
{{/if}}

    <div class="event-info">
        <div class="left-info">
            <img src={{place.photoURL}} alt="event_picture" height="300px" width="600px">
            <h3>Detalles del Lugar</h3>
            <p id="event-description">
                {{place.description}}
            </p>
        </div>
        <div class="div-location">
            <div id="event-text">
                <div>
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div>
                    <h3> <span style="color:green"> DONDE:</span> {{place.location.address}}</h3>
                    <p><span style="color:green">$CUANTO:</span> {{place.cost}}</p>
                    <p><span style="color:green">PARA: </span><br> niños de {{place.recomendedAge}}</p>
                </div>

        </div>
        <div id="mapita"></div>
    </div>
</div>
</div>


{{!-- cambiar la hora --}}
<script>
    console.log({{place.location.address}})
</script>
<script>
    var oldHour = document.getElementById("formatedHour")
    var options = { weekday: "long", year: "numeric", month: "long", day: "numeric", hour: "numeric", minute: "numeric", hour12: "false" };
    var myDate = new Date(oldHour.innerHTML);
    var newDate = myDate.toLocaleString("es-ES", options)
    oldHour.innerHTML = newDate


</script> {{!-- ingresar maps y marker --}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzYCmApB3ysZNFYoP4TbhfHdNIhOroJtc&libraries=places"></script>
<script>
    let center = {
        lat: {{ place.location.coordinates.[1]}},
        lng: {{ place.location.coordinates.[0]}}
    };
    let title = '{{place.placeName}}'

    const map = new google.maps.Map(
        document.getElementById('mapita'),
        {
            center,
            zoom: 15
        }
    )
    var icono = {
        url: "https://cdn2.iconfinder.com/data/icons/map-pins-1-01-easylines/128/yumminky-pin-78-512.png",
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(35, 35)

    }
    const marker = new google.maps.Marker({
        map,
        icon: icono,
        position: center,
        title,
        animation: google.maps.Animation.BOUNCE
    })

</script>