<div class="container">
    <div class="welcome-header">
        <p>ENCUENTRA DONDE IR</p>
        <div>
            <p>MOSTRAR FECHA DE HOY</p>
        </div>
    </div>
    <section class="section-events">
        <h3>PRÓXIMOS EVENTOS</h3>
        
        {{!-- CARDS SECTION --}}
        <div class="showing-cards">
            {{#each events as |event|}}
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">{{event.eventName}}</p>
                        <p class="card-header-time">{{event.date}}</p>
                    </header>
                    <div class="card-content">
                        <div class="card-description"><br><br>{{event.description}}</div>
                    </div>
                    <footer class="card-footer">
                        <p class="card-header-org">Organizado por {{event.organizedBy}}</p>
                        <a href="/events/{{event._id}}" class="card-footer-item"><br>Ver evento</a>
                    </footer>
                </div>
            {{/each}}
        </div>
    </section>

    <section class="section-places">
        <div id="lugares-de-interes">
            <h3>LUGARES DE INTERÉS</h3>
        </div>
        <div id="ver-mas">
            <a href="/places"><br>Ver más</a>
        </div> 
    </section>

    <div class="showing-cards-places">
        {{#each places as |place|}}
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">{{place.placeName}}</p>
                </header>
                <div class="card-content">
                    <div class="card-description"><br>{{place.description}}<br></div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item"><br>Más</a>
                </footer>
            </div>
        {{/each}} 
    </div> 
</div>

<script>
    var today = Date.now();
</script>