<div class="wrap">

<form class="searchr" action="/search" method="post">
      <input type="text" class="searchTerm" name="placeName" placeholder="Lugares o Eventos?">
      <button type="submit" class="searchButton" id="searchBoton">
        <i class="fa fa-search"></i>
             </button>
             <sub style="color:gray">Los mas populares... </sub>
</p>
</form>
</div>
<p>             <a href="/places"><img width="1000" id="hardcodeo" src="https://res.cloudinary.com/casher0009ironhack/image/upload/v1532099052/assets/Captura%20de%20pantalla%20de%202018-07-20%2009-59-33.png.png" alt="" srcset=""></a>

<br>
<section id="resultados">
<article class="resul">
    <h2>Tu busqueda de lugares</h2>   
{{#each places as | place |}}
    <a href="/places/{{place._id}}">
    <img class="imgresul" width="150" height="120" src="{{place.photoURL}}" alt="">
    <h2>{{place.placeName}}</h2>
    </a>
{{/each}}

</article>

<article class="resul">
    <h2>Tu busqueda de eventos</h2>
{{#each events as | event |}}
    <a href="/events/{{event._id}}">
    <img class="imgresul"  width="150" height="120" src="{{event.photoURL}}" alt="">
    <h2>{{event.eventName}} <br>
    <h3>{{event.date}}</h3>
    </h2>
    </a>
{{/each}}

</article>
</section>

